/* Global */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    background: #ffe59f;
    font-family: 'Lora', serif;
    margin: 0;
}

/* Typography */
h1, h2, h3, h4, h6 {
     font-family: 'Pacifico', cursive;
}


h1 {
    font-size: 4em;
}

h2 {
    font: 2em;
}

/* Positioning */
header {
    background: rgba(0, 128, 128, 0.56);
    position: fixed;
    width: 100%;
}





















